body {
    background-image: url('../gambar/loginbg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
}

.button-container {
    position: absolute; /* Memungkinkan penempatan relatif terhadap kontainer */
    top: 20px; /* Jarak dari atas */
    right: 20px; /* Jarak dari kanan */
}

.button-container button {
    padding: 10px 20px; /* Padding untuk tombol */
    border: none; /* Tanpa border */
    border-radius: 4px; /* Sudut membulat */
    background-color: #5E2626; /* Warna latar belakang hijau */
    color: white; /* Warna teks putih */
    font-size: 16px; /* Ukuran font */
    cursor: pointer; /* Tangan saat hover */
}

button[type="submit"] {
    background-color: #7C3333;
    color: #ffffff;
    padding: 0.75rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    margin-top: 1rem;
    width: 100%; 
}

button[type="submit"]:hover {
    background-color: #5e2525;
    align-items: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 1rem;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #7C3333;
    box-shadow: 0 0 0 2px #7C3333;
}

p {
    text-align: center;
    margin-top: 1rem;
}

a {
    color: #3498db;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.15s ease-in-out;
}

a:hover {
    text-decoration: underline;
}
